body {
  background: #121212;
  color: white;
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.music-player {
  width: 340px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 25px rgba(255, 0, 80, 0.3);
}

.album-art img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.song-info {
  margin-bottom: 10px;
}

.controls button {
  font-size: 20px;
  background: #ff004c;
  color: white;
  border: none;
  margin: 8px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.controls button:hover {
  background: #ff3366;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #333;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px 0;
}
.progress {
  height: 100%;
  width: 0;
  background: #ff004c;
  border-radius: 3px;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

#playlist {
  list-style: none;
  text-align: left;
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
}
#playlist li {
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
#playlist li:hover {
  background: #ff004c;
}
#playlist .active {
  background: #ff004c;
}

#search {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}
.volume-control {
  margin-top: 8px;
}
